.form
  position relative
  
  &__part
    display inline-block 
    vertical-align top

  &__field
    margin 0
    padding 0
    border 0

  &__label
    display block
    padding 5px 0

  &__label-title
    display inline-block
    width 200px
    vertical-align top

  &__input, &__select, &__textarea
    width 400px
    font-size (14/16)*1em
    border 1px solid #a0a0a0
    outline none

    &:focus
      box-shadow 0 0 1px #538CF5

  &__input
    height 30px

  &__input, &__textarea
    padding 0 5px
    
  &__select
    width 200px
    display inline-block
    position relative
    vertical-align top 
    margin-right 50px

  &__textarea
    padding 3px 5px
    resize vertical
  
  &__answer
    display inline-block
    width 400px
  
  &__radio-wrapper
    display block