/* Обвязка */
html, body
  height 100%
  font normal 16px "PT Sans", Verdana, Tahoma

.page
  position relative
  min-height 100%
  padding 10px
  background #95a5a6

.listbox
  color blue
  background #999
  min-height 300px

.box__item_stocked
  color red